@mixin text-gradient($start-color, $end-color) {
    background: linear-gradient(180deg, $start-color 0%, $end-color 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }