$font_main_color: #5C5C5E;
$font_subtitle_color: #070707;
$font-face: 'Helvetica', sans-serif;
$font_weight_regular:400;
$font_weight_bold:700; 
$font-size-little: 13px;
$font-size-text: 16px;
$font-size-gradient-text:36px;
$font-size-subtitle:24px;

$border_color_gray: #CACAD6;
$border_pink:1px solid #bc10d8;

$button_gradient_start_color: #BC10D8;
$button_gradient_end_color: rgba(80, 0, 250, 0.93);
$button_gradient_deg: 180deg;
$button_text_color: #F6F4F5;
$button_price_bg_color: #E4E5E6